<div class="footer">
  <div class="footer-links">
    Developed by
    <a href="#"><i class="fab fa-github"></i> Matheus</a>
    <a href="#"><i class="fab fa-instagram"></i>
    Tanise</a>
    <a href="#"><i class="fab fa-twitter"></i>
    João</a>
    <a href="#"><i class="fab fa-linkedin"></i>
    Neto</a>
  </div>
  <div class="footer-copyright">
    Le Wagon Data Science Project - This is only for study purpose
  </div>
</div>
